.background {
  background-color: #6B6F9A;
  opacity: 0.8;
  background-image: radial-gradient(#1a3066 1px, transparent 1px),
    radial-gradient(#1a3066 1px, #F3F6FB 1px);
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
}
